.App {
  text-align: center;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: rgb(88, 88, 88);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
